body {
  background-color: #D7DBDD;
}

.artist {
  display: inline-block;
  padding: 10px;
}

img {
  border-style: groove;
  border-color: grey;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

h4 {
  margin-top: 0px;
}

.track {
  display: inline-block;
  padding: 10px;
}

.sidebar {
  min-width: 250px;
}

#title {
  margin-bottom: 0px;
}

#author {
  margin-top: 0px;
}

#results-container {
  text-align: center;
}

.item {
  text-align: center;
}

.hidden {
  display: none;
}
